{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div
    class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0"
  >
    <div class="col-md-6 text-center p-4">
      <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
      <h1 class="display-1 fw-bold">403</h1>
      <h1 class="mb-4">Erro de conexão com a base de dados</h1>
      <p class="mb-4">
        Pedimos desculpas, pedimos que entre em contato com suporte.
      </p>
      <a class="btn btn-primary rounded-pill py-3 px-5" href=""
        >Retornar ao home</a
      >
    </div>
  </div>
</div>
{% endblock %}
